In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
file_path = 'Fosse_Chichawa_EC_Olivier_30min_2019-.xlsx'
# Charger le fichier Excel avec l'extension .xlnx
df = pd.read_excel(file_path, engine='openpyxl')
# Afficher les premières lignes du DataFrame
df

,Date,Heure,Date.1,Heure.1,batt_volt,PTemp,kh_mV,Ux,Uy,Uz,...,SKRDA_3,SKRDA_4,Reflectance bande 1,Reflectance bande 2,Reflectance bande 3,Reflectance bande 4,PRI,NDVI,G,Unnamed: 146
0,2019-05-31,14:30:00,2019-05-31,14:30:00,13.20231,41.570,1661.7710,2.629578,-0.25324,0.031585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-46.460037,NaN
1,2019-05-31,15:00:00,2019-05-31,15:00:00,13.22459,41.570,1906.9900,1.609365,1.321592,0.037264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.907155,NaN
2,2019-05-31,15:30:00,2019-05-31,15:30:00,13.24827,41.110,1670.1350,1.480541,2.992384,0.04973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.909899,NaN
3,2019-05-31,16:00:00,2019-05-31,16:00:00,13.24471,41.390,2069.9870,3.071479,2.99505,0.043297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.905341,NaN
4,2019-05-31,16:30:00,2019-05-31,16:30:00,13.21868,41.010,2308.3350,1.298676,5.362823,0.086962,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.119090,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10286,2019-12-31,21:30:00,2019-12-31,21:30:00,12.45000,6.359,446.3915,-1.494604,-0.263371,-0.118934,...,0.023381,-3.995276,-0.358045,0.263442,0.045195,-0.020776,NaN,NaN,-8.143868,NaN
10287,2019-12-31,22:00:00,2019-12-31,22:00:00,12.42000,6.083,441.9424,-1.924257,0.01417,-0.122986,...,0.023117,-4.034595,-0.365223,0.266134,0.045332,-0.020754,NaN,NaN,-9.081411,NaN
10288,2019-12-31,22:30:00,2019-12-31,22:30:00,12.40000,5.733,431.0344,-1.622529,-0.249446,-0.148093,...,0.022950,-4.058999,-0.371268,0.257035,0.045537,-0.020312,NaN,NaN,-9.899784,NaN
10289,2019-12-31,23:00:00,2019-12-31,23:00:00,12.38000,5.318,422.6664,-1.571613,-0.272678,-0.14045,...,0.023325,-4.100090,-0.358661,0.265884,0.048311,-0.020260,NaN,NaN,-10.696892,NaN
10290,2019-12-31,23:30:00,2019-12-31,23:30:00,12.36000,4.790,424.2226,-1.493135,-0.348846,-0.111198,...,0.023186,-4.135002,-0.352042,0.250044,0.049101,-0.020156,NaN,NaN,-11.468689,NaN

In [4]:
# Sélectionner les colonnes à conserver
colonnes_gardees = ['Date', 'Heure','RH','AirTC','G','Rn_Avg','Le_flux','Ux','Uy','Uz','short_up_Avg']

# Utiliser loc pour sélectionner les colonnes
Our_data = df.loc[:, colonnes_gardees]

# Afficher le dataframe résultant
Our_data

,Date,Heure,RH,AirTC,G,Rn_Avg,Le_flux,Ux,Uy,Uz,short_up_Avg
0,2019-05-31,14:30:00,16.522,37.497760,-46.460037,639.23720,0.087537,2.629578,-0.25324,0.031585,906.730200
1,2019-05-31,15:00:00,16.270,37.597340,-4.907155,454.86920,0.09854,1.609365,1.321592,0.037264,665.357800
2,2019-05-31,15:30:00,15.462,38.007130,7.909899,652.24520,0.063921,1.480541,2.992384,0.04973,924.154000
3,2019-05-31,16:00:00,12.869,38.067250,9.905341,583.00040,0.065023,3.071479,2.99505,0.043297,848.295000
4,2019-05-31,16:30:00,15.730,37.158680,11.119090,258.60340,0.106368,1.298676,5.362823,0.086962,423.045400
...,...,...,...,...,...,...,...,...,...,...,...
10286,2019-12-31,21:30:00,61.004,9.247883,-8.143868,-67.48890,-0.003,-1.494604,-0.263371,-0.118934,-3.952151
10287,2019-12-31,22:00:00,61.275,7.775333,-9.081411,-67.31425,-0.001,-1.924257,0.01417,-0.122986,-3.513108
10288,2019-12-31,22:30:00,62.503,7.704866,-9.899784,-65.58755,0,-1.622529,-0.249446,-0.148093,-2.807271
10289,2019-12-31,23:00:00,65.781,6.961617,-10.696892,-64.23188,0,-1.571613,-0.272678,-0.14045,-3.044187
10290,2019-12-31,23:30:00,66.602,6.808566,-11.468689,-63.58968,0.001,-1.493135,-0.348846,-0.111198,-2.641469

In [5]:
Our_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10291 entries, 0 to 10290
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          10291 non-null  datetime64[ns]
 1   Heure         10291 non-null  object
 2   RH            9210 non-null   float64
 3   AirTC         9210 non-null   float64
 4   G             9210 non-null   float64
 5   Rn_Avg        9210 non-null   float64
 6   Le_flux       9210 non-null   object
 7   Ux            9210 non-null   object
 8   Uy            9210 non-null   object
 9   Uz            9210 non-null   object
 10  short_up_Avg  9210 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(5)
memory usage: 884.5+ KB

In [6]:
# Compter le nombre de valeurs nulles dans chaque colonne
null_counts = Our_data.isnull().sum()
null_counts

Date               0
Heure              0
RH              1081
AirTC           1081
G               1081
Rn_Avg          1081
Le_flux         1081
Ux              1081
Uy              1081
Uz              1081
short_up_Avg    1081
dtype: int64

In [7]:
# Liste des colonnes où remplir les valeurs null
columns_to_fill = ['RH', 'AirTC', 'G', 'Rn_Avg', 'Le_flux', 'Ux', 'Uy', 'Uz','short_up_Avg']
# Convertir les colonnes numériques en type numérique
Our_data['Ux'] = pd.to_numeric(Our_data['Ux'], errors='coerce')
Our_data['Uy'] = pd.to_numeric(Our_data['Uy'], errors='coerce')
Our_data['Uz'] = pd.to_numeric(Our_data['Uz'], errors='coerce')
Our_data['Le_flux'] = pd.to_numeric(Our_data['Le_flux'], errors='coerce')

In [8]:
null_counts = Our_data.isnull().sum()
null_counts

Date               0
Heure              0
RH              1081
AirTC           1081
G               1081
Rn_Avg          1081
Le_flux         1096
Ux              1097
Uy              1097
Uz              1097
short_up_Avg    1081
dtype: int64

In [9]:
# Define the function to calculate the square root of the sum of squares
def calculate_ws(row):
    return np.sqrt(row['Ux']**2 + row['Uy']**2 + row['Uz']**2)

# Apply the function to each row and store the result in a new column 'Ws'
Our_data['Ws'] = Our_data.apply(calculate_ws, axis=1)

# Print the updated dataframe
Our_data

,Date,Heure,RH,AirTC,G,Rn_Avg,Le_flux,Ux,Uy,Uz,short_up_Avg,Ws
0,2019-05-31,14:30:00,16.522,37.497760,-46.460037,639.23720,0.087537,2.629578,-0.253240,0.031585,906.730200,2.641933
1,2019-05-31,15:00:00,16.270,37.597340,-4.907155,454.86920,0.098540,1.609365,1.321592,0.037264,665.357800,2.082799
2,2019-05-31,15:30:00,15.462,38.007130,7.909899,652.24520,0.063921,1.480541,2.992384,0.049730,924.154000,3.338987
3,2019-05-31,16:00:00,12.869,38.067250,9.905341,583.00040,0.065023,3.071479,2.995050,0.043297,848.295000,4.290243
4,2019-05-31,16:30:00,15.730,37.158680,11.119090,258.60340,0.106368,1.298676,5.362823,0.086962,423.045400,5.518514
...,...,...,...,...,...,...,...,...,...,...,...,...
10286,2019-12-31,21:30:00,61.004,9.247883,-8.143868,-67.48890,-0.003000,-1.494604,-0.263371,-0.118934,-3.952151,1.522285
10287,2019-12-31,22:00:00,61.275,7.775333,-9.081411,-67.31425,-0.001000,-1.924257,0.014170,-0.122986,-3.513108,1.928235
10288,2019-12-31,22:30:00,62.503,7.704866,-9.899784,-65.58755,0.000000,-1.622529,-0.249446,-0.148093,-2.807271,1.648258
10289,2019-12-31,23:00:00,65.781,6.961617,-10.696892,-64.23188,0.000000,-1.571613,-0.272678,-0.140450,-3.044187,1.601264
10290,2019-12-31,23:30:00,66.602,6.808566,-11.468689,-63.58968,0.001000,-1.493135,-0.348846,-0.111198,-2.641469,1.537371

In [10]:
# Définir la fonction pour calculer Psat
def calculatePsat(row):
    return 0.6112 * math.exp((17.62 * row['AirTC']) / (row['AirTC'] + 243.12))

# Appliquer la fonction à chaque ligne et stocker le résultat dans une nouvelle colonne 'Psat'
Our_data['Psat'] = Our_data.apply(calculatePsat ,axis=1)
Our_data

,Date,Heure,RH,AirTC,G,Rn_Avg,Le_flux,Ux,Uy,Uz,short_up_Avg,Ws,Psat
0,2019-05-31,14:30:00,16.522,37.497760,-46.460037,639.23720,0.087537,2.629578,-0.253240,0.031585,906.730200,2.641933,6.437593
1,2019-05-31,15:00:00,16.270,37.597340,-4.907155,454.86920,0.098540,1.609365,1.321592,0.037264,665.357800,2.082799,6.472549
2,2019-05-31,15:30:00,15.462,38.007130,7.909899,652.24520,0.063921,1.480541,2.992384,0.049730,924.154000,3.338987,6.618138
3,2019-05-31,16:00:00,12.869,38.067250,9.905341,583.00040,0.065023,3.071479,2.995050,0.043297,848.295000,4.290243,6.639735
4,2019-05-31,16:30:00,15.730,37.158680,11.119090,258.60340,0.106368,1.298676,5.362823,0.086962,423.045400,5.518514,6.319794
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10286,2019-12-31,21:30:00,61.004,9.247883,-8.143868,-67.48890,-0.003000,-1.494604,-0.263371,-0.118934,-3.952151,1.522285,1.165726
10287,2019-12-31,22:00:00,61.275,7.775333,-9.081411,-67.31425,-0.001000,-1.924257,0.014170,-0.122986,-3.513108,1.928235,1.055188
10288,2019-12-31,22:30:00,62.503,7.704866,-9.899784,-65.58755,0.000000,-1.622529,-0.249446,-0.148093,-2.807271,1.648258,1.050139
10289,2019-12-31,23:00:00,65.781,6.961617,-10.696892,-64.23188,0.000000,-1.571613,-0.272678,-0.140450,-3.044187,1.601264,0.998165
10290,2019-12-31,23:30:00,66.602,6.808566,-11.468689,-63.58968,0.001000,-1.493135,-0.348846,-0.111198,-2.641469,1.537371,0.987750

In [11]:
# Définir la fonction pour calculer Psat
def calculateP_air(row):
    return row['Psat']* (row['RH']/100)

# Appliquer la fonction à chaque ligne et stocker le résultat dans une nouvelle colonne 'Psat'
Our_data['P_air'] = Our_data.apply(calculateP_air ,axis=1)
Our_data

,Date,Heure,RH,AirTC,G,Rn_Avg,Le_flux,Ux,Uy,Uz,short_up_Avg,Ws,Psat,P_air
0,2019-05-31,14:30:00,16.522,37.497760,-46.460037,639.23720,0.087537,2.629578,-0.253240,0.031585,906.730200,2.641933,6.437593,1.063619
1,2019-05-31,15:00:00,16.270,37.597340,-4.907155,454.86920,0.098540,1.609365,1.321592,0.037264,665.357800,2.082799,6.472549,1.053084
2,2019-05-31,15:30:00,15.462,38.007130,7.909899,652.24520,0.063921,1.480541,2.992384,0.049730,924.154000,3.338987,6.618138,1.023297
3,2019-05-31,16:00:00,12.869,38.067250,9.905341,583.00040,0.065023,3.071479,2.995050,0.043297,848.295000,4.290243,6.639735,0.854468
4,2019-05-31,16:30:00,15.730,37.158680,11.119090,258.60340,0.106368,1.298676,5.362823,0.086962,423.045400,5.518514,6.319794,0.994104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10286,2019-12-31,21:30:00,61.004,9.247883,-8.143868,-67.48890,-0.003000,-1.494604,-0.263371,-0.118934,-3.952151,1.522285,1.165726,0.711140
10287,2019-12-31,22:00:00,61.275,7.775333,-9.081411,-67.31425,-0.001000,-1.924257,0.014170,-0.122986,-3.513108,1.928235,1.055188,0.646566
10288,2019-12-31,22:30:00,62.503,7.704866,-9.899784,-65.58755,0.000000,-1.622529,-0.249446,-0.148093,-2.807271,1.648258,1.050139,0.656368
10289,2019-12-31,23:00:00,65.781,6.961617,-10.696892,-64.23188,0.000000,-1.571613,-0.272678,-0.140450,-3.044187,1.601264,0.998165,0.656603
10290,2019-12-31,23:30:00,66.602,6.808566,-11.468689,-63.58968,0.001000,-1.493135,-0.348846,-0.111198,-2.641469,1.537371,0.987750,0.657861

In [12]:
# Définir la fonction pour calculer Psat
def calculateVPD(row):
    return   row['Psat']* (1 - row['RH']/100) 

# Appliquer la fonction à chaque ligne et stocker le résultat dans une nouvelle colonne 'Psat'
Our_data['VPD'] = Our_data.apply(calculateVPD ,axis=1)
Our_data

,Date,Heure,RH,AirTC,G,Rn_Avg,Le_flux,Ux,Uy,Uz,short_up_Avg,Ws,Psat,P_air,VPD
0,2019-05-31,14:30:00,16.522,37.497760,-46.460037,639.23720,0.087537,2.629578,-0.253240,0.031585,906.730200,2.641933,6.437593,1.063619,5.373974
1,2019-05-31,15:00:00,16.270,37.597340,-4.907155,454.86920,0.098540,1.609365,1.321592,0.037264,665.357800,2.082799,6.472549,1.053084,5.419465
2,2019-05-31,15:30:00,15.462,38.007130,7.909899,652.24520,0.063921,1.480541,2.992384,0.049730,924.154000,3.338987,6.618138,1.023297,5.594842
3,2019-05-31,16:00:00,12.869,38.067250,9.905341,583.00040,0.065023,3.071479,2.995050,0.043297,848.295000,4.290243,6.639735,0.854468,5.785268
4,2019-05-31,16:30:00,15.730,37.158680,11.119090,258.60340,0.106368,1.298676,5.362823,0.086962,423.045400,5.518514,6.319794,0.994104,5.325690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10286,2019-12-31,21:30:00,61.004,9.247883,-8.143868,-67.48890,-0.003000,-1.494604,-0.263371,-0.118934,-3.952151,1.522285,1.165726,0.711140,0.454587
10287,2019-12-31,22:00:00,61.275,7.775333,-9.081411,-67.31425,-0.001000,-1.924257,0.014170,-0.122986,-3.513108,1.928235,1.055188,0.646566,0.408622
10288,2019-12-31,22:30:00,62.503,7.704866,-9.899784,-65.58755,0.000000,-1.622529,-0.249446,-0.148093,-2.807271,1.648258,1.050139,0.656368,0.393770
10289,2019-12-31,23:00:00,65.781,6.961617,-10.696892,-64.23188,0.000000,-1.571613,-0.272678,-0.140450,-3.044187,1.601264,0.998165,0.656603,0.341562
10290,2019-12-31,23:30:00,66.602,6.808566,-11.468689,-63.58968,0.001000,-1.493135,-0.348846,-0.111198,-2.641469,1.537371,0.987750,0.657861,0.329889

In [13]:
print("Data type of 'short_up_Avg':", Our_data['short_up_Avg'].dtypes)
Our_data['short_up_Avg'] = Our_data['short_up_Avg'].astype(float)

Data type of 'short_up_Avg': float64

In [23]:
# Grouper les données par jour et calculer la somme de "short_up_Avg"
daily_sum = Our_data.groupby(Our_data['Date'].dt.date)['short_up_Avg'].sum()

# Diviser les valeurs par 48 pour obtenir la moyenne par tranche de 48 unités de temps
Rs = daily_sum / 48
Rs

Date
2019-05-31    113.602851
2019-06-01    346.380522
2019-06-02    295.942521
2019-06-03    303.426264
2019-06-04    352.665022
                 ...
2019-12-27    165.691000
2019-12-28    172.551655
2019-12-29    172.734551
2019-12-30    172.731437
2019-12-31    167.682356
Name: short_up_Avg, Length: 215, dtype: float64

In [52]:
# Créer une colonne 'Rs' dans le DataFrame Our_data et y stocker les valeurs de Rs
Our_data['Rs'] = Our_data['Date'].dt.date.map(Rs)

# Afficher le DataFrame avec la colonne 'Rs' mise à jour
print(Our_data)

            Date     Heure      RH      AirTC          G     Rn_Avg   Le_flux
0     2019-05-31  14:30:00  16.522  37.497760 -46.460037  639.23720  0.087537  \
1     2019-05-31  15:00:00  16.270  37.597340  -4.907155  454.86920  0.098540
2     2019-05-31  15:30:00  15.462  38.007130   7.909899  652.24520  0.063921
3     2019-05-31  16:00:00  12.869  38.067250   9.905341  583.00040  0.065023
4     2019-05-31  16:30:00  15.730  37.158680  11.119090  258.60340  0.106368
...          ...       ...     ...        ...        ...        ...       ...
10286 2019-12-31  21:30:00  61.004   9.247883  -8.143868  -67.48890 -0.003000
10287 2019-12-31  22:00:00  61.275   7.775333  -9.081411  -67.31425 -0.001000
10288 2019-12-31  22:30:00  62.503   7.704866  -9.899784  -65.58755  0.000000
10289 2019-12-31  23:00:00  65.781   6.961617 -10.696892  -64.23188  0.000000
10290 2019-12-31  23:30:00  66.602   6.808566 -11.468689  -63.58968  0.001000

             Ux        Uy        Uz  short_up_Avg        Ws      Psat
0      2.629578 -0.253240  0.031585    906.730200  2.641933  6.437593  \
1      1.609365  1.321592  0.037264    665.357800  2.082799  6.472549
2      1.480541  2.992384  0.049730    924.154000  3.338987  6.618138
3      3.071479  2.995050  0.043297    848.295000  4.290243  6.639735
4      1.298676  5.362823  0.086962    423.045400  5.518514  6.319794
...         ...       ...       ...           ...       ...       ...
10286 -1.494604 -0.263371 -0.118934     -3.952151  1.522285  1.165726
10287 -1.924257  0.014170 -0.122986     -3.513108  1.928235  1.055188
10288 -1.622529 -0.249446 -0.148093     -2.807271  1.648258  1.050139
10289 -1.571613 -0.272678 -0.140450     -3.044187  1.601264  0.998165
10290 -1.493135 -0.348846 -0.111198     -2.641469  1.537371  0.987750

          P_air       VPD          Rs
0      1.063619  5.373974  113.602851
1      1.053084  5.419465  113.602851
2      1.023297  5.594842  113.602851
3      0.854468  5.785268  113.602851
4      0.994104  5.325690  113.602851
...         ...       ...         ...
10286  0.711140  0.454587  167.682356
10287  0.646566  0.408622  167.682356
10288  0.656368  0.393770  167.682356
10289  0.656603  0.341562  167.682356
10290  0.657861  0.329889  167.682356

[10291 rows x 16 columns]

In [53]:
# Sélectionner les colonnes à conserver
colonnes_gardees = ['Date', 'Heure','RH','AirTC','G','Rn_Avg','Le_flux','Ws','Psat','P_air','VPD','Rs']

# Utiliser loc pour sélectionner les colonnes
Final_Data = Our_data.loc[:, colonnes_gardees]

# Afficher le dataframe résultant
Final_Data

,Date,Heure,RH,AirTC,G,Rn_Avg,Le_flux,Ws,Psat,P_air,VPD,Rs
0,2019-05-31,14:30:00,16.522,37.497760,-46.460037,639.23720,0.087537,2.641933,6.437593,1.063619,5.373974,113.602851
1,2019-05-31,15:00:00,16.270,37.597340,-4.907155,454.86920,0.098540,2.082799,6.472549,1.053084,5.419465,113.602851
2,2019-05-31,15:30:00,15.462,38.007130,7.909899,652.24520,0.063921,3.338987,6.618138,1.023297,5.594842,113.602851
3,2019-05-31,16:00:00,12.869,38.067250,9.905341,583.00040,0.065023,4.290243,6.639735,0.854468,5.785268,113.602851
4,2019-05-31,16:30:00,15.730,37.158680,11.119090,258.60340,0.106368,5.518514,6.319794,0.994104,5.325690,113.602851
...,...,...,...,...,...,...,...,...,...,...,...,...
10286,2019-12-31,21:30:00,61.004,9.247883,-8.143868,-67.48890,-0.003000,1.522285,1.165726,0.711140,0.454587,167.682356
10287,2019-12-31,22:00:00,61.275,7.775333,-9.081411,-67.31425,-0.001000,1.928235,1.055188,0.646566,0.408622,167.682356
10288,2019-12-31,22:30:00,62.503,7.704866,-9.899784,-65.58755,0.000000,1.648258,1.050139,0.656368,0.393770,167.682356
10289,2019-12-31,23:00:00,65.781,6.961617,-10.696892,-64.23188,0.000000,1.601264,0.998165,0.656603,0.341562,167.682356
10290,2019-12-31,23:30:00,66.602,6.808566,-11.468689,-63.58968,0.001000,1.537371,0.987750,0.657861,0.329889,167.682356

In [54]:
Final_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10291 entries, 0 to 10290
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     10291 non-null  datetime64[ns]
 1   Heure    10291 non-null  object
 2   RH       9210 non-null   float64
 3   AirTC    9210 non-null   float64
 4   G        9210 non-null   float64
 5   Rn_Avg   9210 non-null   float64
 6   Le_flux  9195 non-null   float64
 7   Ws       9194 non-null   float64
 8   Psat     9210 non-null   float64
 9   P_air    9210 non-null   float64
 10  VPD      9210 non-null   float64
 11  Rs       10291 non-null  float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 964.9+ KB

In [56]:
# Chemin du fichier de sortie
output_file = 'D:\\PFA\\OurData.csv'

# Enregistrer le dataframe dans le fichier CSV
Final_Data.to_csv(output_file, index=False)